#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

#ignoring the tests
cadriciel/coverage

#ignore the node modules
cadriciel/node_modules

#ignore the package-lock.json
package-lock.json
