.showColor {
    position:static;
    width:40px;
    height:40px;
    border: 1px solid black;
}
.input {
    width:40px;
}
.confirm {
    float: right;
}
.matInput {
    width:40px;
}
canvas {
    width:150px;
    height:150px;
    cursor:crosshair;
}
