<h2><b>User Guide</b></h2>
<h4><b>Welcome</b></h4>
<p>
  Click on <i class="fas fa-plus "></i> to get started and create a new drawing.
</p>
<h4><b>Tools</b></h4>
<p>
  The drawing group <i class="fas fa-pencil-alt"></i>  contains pencil, brushes, pen, calligraphy and spraypaint.
  <br>
  <br>
  Selection <i class="far fa-object-ungroup"></i> lets you select and transform your objects. Use left-click to select object, and right-click to invert a selection. Use mouse-wheel to rotate a selection, use the selection box
  to translate or rescale an object.
  <br>
  <br>
  With eraser <i class="fas fa-eraser "></i> you can remove objects one at time with a single click, or everything the eraser touches by holding left-click.
  <br>
  <br>
  Shapes <i class="fas fa-shapes "></i> allows you to create ellipses, a rectangles and polygons.
  <br>
  <br>
  Line <i class="fas fa-draw-polygon"></i> lets you create straight segments. 
  <br>
  <br>
  Colors <i class="fas fa-fill-drip"></i> provides a filling color bucket or a color application option which allows you to change the color of an object or its outline.
  <br>
  <br>
  With Stamp <i class="fas fa-stamp"></i> you can choose to add a stamp from our limited selection. Use mouse-wheel to rotate a stamp before adding it.
  <br>
  <br>
  You can toggle the grid <i class="fas fa-border-all"></i> with "g", and set its size.
</p>
<h4><b>File Manager</b></h4>
<p>
  To save your current drawing click on <i class="far fa-save"></i>.
  To open a previously saved drawing, click on <i class="far fa-folder-open"></i>.
  To export your drawing in PNG, JPEG, or BMP click on <i class="fas fa-file-export"></i>.
</p>

<div class="centered-button"> 
  <button mat-button (click) = "closeUserGuide()"> Close </button> 
</div>
