@import "../../../global-scss/_colors";
@import "../../../global-scss/_mixins";


.icon-bottom {
  button {
    width: 40px;
    height: 40px;
    border: none;
  }

  button:hover {
    background-color: $selected-lateral-bar;
    border-radius:10px;
  }

  .mat-button {
    @include button-dimensions;
  }
} 

.icon-bottom:hover .hover-effect {
  visibility: visible;
}
