@import "../../../global-scss/_colors";
@import "../../../global-scss/_mixins";

.container {
    display: flex;
    height: 100%;
    overflow: hidden;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}
.lateral-bar{
    background-color: $lateral-bar;
    width: fit-content;
    @include scrollbox($lateral-bar);

}

.border-left{
    border-left: 1px solid $borders;
}
.pannel {
    background-color: $pannel;
    width: 200px;
    align-items: center;
    @include scrollbox($pannel);
}

.transparent-scrollbar::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.workspace {
  flex: 1;
  width: auto;
  height: auto;
  background-color: $workspace;
  overflow-y:auto;
  overflow-x:auto;
}

/* width */
.workspace::-webkit-scrollbar {
    width: 15px;
}
/* width on hover */
.workspace::-webkit-scrollbar:hover {
    width: 25px;
}
  
/* Track */
.workspace::-webkit-scrollbar-track {
    background: rgba(230, 230, 230, 0.904);
}

/* Corner */
.workspace::-webkit-scrollbar-corner {
    background: rgba(230, 230, 230, 0.904);
}

/* Handle */
.workspace::-webkit-scrollbar-thumb {
    background: rgba(95, 95, 95, .4);
}

/* Handle on hover */
.workspace::-webkit-scrollbar-thumb:hover {
    background: rgba(95, 95, 95, .95);
    width: 15px;
}
